<div class="main_navigation_buttons">
  <%= link_to "Home", root_path %>
  <%= link_to "Topics", topics_path%>
  <%= link_to "About", pages_about_path %>
</div>

<div class="user_log_in">
  <h2 class="log_in">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
    <div class="login_field">
      <%= f.label :login %><br>
      <%= f.text_field :login, autofocus: true, :placeholder => 'Username or E-Mail' %>
    </div>

    <div class="log_password_field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autofocus: true, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="remember_field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="log_actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div> <br>

<div class="create_account_link">
  <%= link_to "I would like to create an account instead.", new_user_registration_path %>
</div>

<br><br><br><br><br><br><br><br><br><br><br>
<footer>
  <hr class="bottom_line">
  <ul class="bottom_links">
    <li><%= link_to image_tag("GitHub-Mark-Light-32px.png"), "https://github.com/GP-Legend"%></li>
  </ul>
</footer>
